easydict
omegaconf
jsonlines
kornia
ipdb
plyfile
h5py
trimesh
einops
roma
decord
ultralytics
xfuser[flash-attn]
opencv-python==4.11.0.86
imageio[ffmpeg]
scipy==1.13.0
diffusers==0.33.1
timm==1.0.11
transformers==4.46.2
av==13.0.0
aiofiles>=23.2.1
clik
fastapi>=0.110.1
python-multipart>=0.0.9
typing>=3.7.4.3
uvicorn>=0.29.0
numpy==1.26.4
